/******************************/
/* Metadata *******************/
/******************************/

:root {
  --color0: #111111;
  --color1: #222222;
  --color2: #444444;
  --color3: #666666;
  --color4: #eeeeee;
  --cell-spacing: 3px;
}

/******************************/
/* Global Styles **************/
/******************************/

* {
  font-family: 'Noto Sans', Roboto, Lato, Helvetica, Arial, sans-serif;
  color: var(--color4);
}

@media only screen and (min-aspect-ratio: 4/3) {
  div#mobile-blocker {
    visibility: hidden;
  }

  div.main-section {
    visibility: visible !important;
  }
}

div#mobile-blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--color0);
}

div#popup-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  z-index: 950;
  background-color: var(--color0);
}

p.popup-dialog-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  margin: 0px;
  padding: 10px;
  overflow-y: auto;
}

button.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color0);
  border: none;
  cursor: pointer;
}

button.popup-close::after {
  content: "\D7";
  color: var(--color4);
  font-size: 120%;
}

button:hover {
  filter: brightness(1.2);
}

p.popup-text {
  display: inline-block;
  width: 60%;
  font-size: 1.5em;
  text-align: center;
}

.hidden {
  display: none !important;
}

/******************************/
/* Main Layout ****************/
/******************************/

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  padding: 10px;
  gap: 10px;
  background-color: var(--color0);
}

div.main-section {
  flex-basis: 0px;
  visibility: hidden;
  background-color: var(--color1);
}

/******************************/
/* Cell Container *************/
/******************************/

div#cells {
  flex-grow: 5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div.cell-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  /* grid-template-columns is set programmatically */
  padding: 0px;
  gap: var(--cell-spacing);
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

span.cell {
  min-width: 8px;
  min-height: 8px;
  margin-bottom: calc(-28.8675% - calc(0.1340 * var(--cell-spacing)));
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: var(--color2);
  font-size: 1vw;
  aspect-ratio: 0.8660;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.8;
}

span.cell:hover {
  filter: brightness(1.2);
}

span.cell:last-child {
  margin-bottom: 0px;
}

span.cell.leftover {
  visibility: hidden;
}

span.cell.odd-row {
  margin-left: calc(0.5 * calc(100% + var(--cell-spacing)));
  margin-right: calc(-0.5 * calc(100% + var(--cell-spacing)));
}

span.cell.selected {
  filter: brightness(1.0);
}

span.cell.selected::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(circle farthest-side at center, var(--color4) 20%, var(--color1) 30%) !important;
  opacity: 0.5;
}

/******************************/
/* Side Panel *****************/
/******************************/

div#panel {
  flex-grow: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  padding: 10px;
  gap: 20px;
  overflow-y: auto;
}

div.selection-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

span.selection-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 8px;
  padding: 8px;
  background-color: var(--color2);
}

span.selection {
  font-size: 70%;
}

button.selection-clear {
  margin-top: 5px;
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

div.cell-editor {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}

button.cell-edit-confirm {
  flex: 1 1;
  padding: 5px;
  background-color: var(--color2);
  border: none;
  white-space: nowrap;
}

select.cell-type {
  flex: 1 1;
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

div.file-io {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}

button.load, button.save {
  flex-grow: 1;
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

div.iptsht-util {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}

div.iptsht-util > button {
  flex-grow: 1;
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

/******************************/
/* Buildings ******************/
/******************************/

span.cell[data-cell-type="Road"] {
  background-color: darkslategray;
}

span.cell[data-cell-type="Brdg"] {
  background-color: yellow;
  color: var(--color0);
}

span.cell[data-cell-type="Rivr"] {
  background-color: paleturquoise;
  color: var(--color0);
}

span.cell[data-cell-type="RivD"] {
  background-color: paleturquoise;
  color: var(--color0);
}

span.cell[data-cell-type="Ocen"] {
  background-color: lightskyblue;
  color: var(--color0);
}

span.cell[data-cell-type="OfLm"] {
  background-color: black;
}

span.cell[data-cell-type="WtFm"] {
  background-color: wheat;
  color: var(--color0);
}

span.cell[data-cell-type="PgFm"] {
  background-color: pink;
  color: var(--color0);
}

span.cell[data-cell-type="Orch"] {
  background-color: palevioletred;
  color: var(--color0);
}

span.cell[data-cell-type="Fndy"] {
  background-color: firebrick;
}

span.cell[data-cell-type="GsMl"] {
  background-color: bisque;
  color: var(--color0);
}

span.cell[data-cell-type="RmMl"] {
  background-color: lightsalmon;
  color: var(--color0);
}

span.cell[data-cell-type="SwMl"] {
  background-color: burlywood;
  color: var(--color0);
}

span.cell[data-cell-type="Ship"] {
  background-color: steelblue;
}

span.cell[data-cell-type="HpPl"] {
  background-color: slategray;
}

span.cell[data-cell-type="ToPl"] {
  background-color: tan;
  color: var(--color0);
}

span.cell[data-cell-type="RcPl"] {
  background-color: limegreen;
  color: var(--color0);
}

span.cell[data-cell-type="CoPl"] {
  background-color: whitesmoke;
  color: var(--color0);
}

span.cell[data-cell-type="SlvP"] {
  background-color: brown;
}

span.cell[data-cell-type="FshP"] {
  background-color: silver;
  color: var(--color0);
}

span.cell[data-cell-type="WhoP"] {
  background-color: olive;
}

span.cell[data-cell-type="FurP"] {
  background-color: darkkhaki;
  color: var(--color0);
}

span.cell[data-cell-type="NvlP"] {
  background-color: darkcyan;
}

span.cell[data-cell-type="Whrf"] {
  background-color: blue;
}

span.cell[data-cell-type="Pmtg"] {
  background-color: orange;
  color: var(--color0);
}

span.cell[data-cell-type="Qmtg"] {
  background-color: orange;
  color: var(--color0);
}

span.cell[data-cell-type="AngC"] {
  background-color: lightcoral;
  color: var(--color0);
}

span.cell[data-cell-type="Tvrn"] {
  background-color: goldenrod;
}

span.cell[data-cell-type="Grsn"] {
  background-color: linen;
  color: var(--color0);
}

span.cell[data-cell-type="News"] {
  background-color: lemonchiffon;
  color: var(--color0);
}

span.cell[data-cell-type="Unvy"] {
  background-color: turquoise;
  color: var(--color0);
}

span.cell[data-cell-type="Shoe"] {
  background-color: sienna;
}

span.cell[data-cell-type="Tany"] {
  background-color: saddlebrown;
}

span.cell[data-cell-type="Cmm"] {
  background-color: peru;
  color: var(--color0);
}

span.cell[data-cell-type="SMkt"] {
  background-color: brown;
}

span.cell[data-cell-type="FMkt"] {
  background-color: silver;
  color: var(--color0);
}

span.cell[data-cell-type="WMkt"] {
  background-color: olive;
}

span.cell[data-cell-type="FurM"] {
  background-color: darkkhaki;
  color: var(--color0);
}

span.cell[data-cell-type="NMkt"] {
  background-color: darkcyan;
}

span.cell[data-cell-type="Town"] {
  background-color: moccasin;
  color: var(--color0);
}

span.cell[data-cell-type="Inn"] {
  background-color: lightgreen;
  color: var(--color0);
}

span.cell[data-cell-type="Hspl"] {
  background-color: tomato;
  color: var(--color0);
}

span.cell[data-cell-type="Lbry"] {
  background-color: royalblue;
}

span.cell[data-cell-type="Cths"] {
  background-color: gold;
  color: var(--color0);
}

span.cell[data-cell-type="ShFy"] {
  background-color: chocolate;
}

span.cell[data-cell-type="TxMl"] {
  background-color: lightgoldenrodyellow;
  color: var(--color0);
}

span.cell[data-cell-type="Canl"] {
  background-color: cyan;
  color: var(--color0);
}

span.cell[data-cell-type="FlMl"] {
  background-color: bisque;
  color: var(--color0);
}

span.cell[data-cell-type="LmMl"] {
  background-color: burlywood;
  color: var(--color0);
}

span.cell[data-cell-type="RgMl"] {
  background-color: darkred;
}

span.cell[data-cell-type="RmDs"] {
  background-color: navajowhite;
  color: var(--color0);
}

span.cell[data-cell-type="Tnmt"] {
  background-color: linen;
  color: var(--color0);
}

span.cell[data-cell-type="CmDk"] {
  background-color: teal;
}

span.cell[data-cell-type="Hotl"] {
  background-color: mediumorchid;
}

span.cell[data-cell-type="SBnk"] {
  background-color: mediumseagreen;
}

span.cell[data-cell-type="NBnk"] {
  background-color: springgreen;
  color: var(--color0);
}

span.cell[data-cell-type="Dept"] {
  background-color: midnightblue;
}

span.cell[data-cell-type="Rlrd"] {
  background-color: navy;
}
