/******************************/
/* Metadata *******************/
/******************************/

:root {
  --color0: #111111;
  --color1: #222222;
  --color2: #444444;
  --color3: #666666;
  --color4: #eeeeee;
  --cell-spacing: 3px;
}

/******************************/
/* Global Styles **************/
/******************************/

* {
  font-family: 'Noto Sans', Roboto, Lato, Helvetica, Arial, sans-serif;
  color: var(--color4);
}

@media only screen and (min-aspect-ratio: 4/3) {
  div#mobile-blocker {
    visibility: hidden;
  }

  div.main-section {
    visibility: visible !important;
  }
}

div#mobile-blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--color0);
}

button:hover {
  filter: brightness(1.2);
}

p.popup-text {
  display: inline-block;
  width: 60%;
  font-size: 1.5em;
  text-align: center;
}

.hidden {
  display: none !important;
}

/******************************/
/* Main Layout ****************/
/******************************/

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  padding: 10px;
  gap: 10px;
  background-color: var(--color0);
}

div.main-section {
  flex-basis: 0px;
  visibility: hidden;
  background-color: var(--color1);
}

/******************************/
/* Cell Container *************/
/******************************/

div#cells {
  flex-grow: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div.cell-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  /* grid-template-columns is set programmatically */
  padding: 0px;
  gap: var(--cell-spacing);
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

span.cell {
  min-width: 8px;
  min-height: 8px;
  margin-bottom: calc(-28.8675% - calc(0.1340 * var(--cell-spacing)));
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: var(--color2);
  aspect-ratio: 0.8660;
}

span.cell:hover {
  filter: brightness(1.2);
}

span.cell:last-child {
  margin-bottom: 0px;
}

span.cell.leftover {
  visibility: hidden;
}

span.cell.odd-row {
  margin-left: calc(0.5 * calc(100% + var(--cell-spacing)));
  margin-right: calc(-0.5 * calc(100% + var(--cell-spacing)));
}

span.cell.selected {
  filter: brightness(1.0);
}

span.cell.selected::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(circle farthest-side at center, var(--color4) 20%, var(--color1) 30%) !important;
  opacity: 0.5;
}

/******************************/
/* Side Panel *****************/
/******************************/

div#panel {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  padding: 10px;
  gap: 20px;
}

div.selection-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

span.selection-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 8px;
  padding: 8px;
  background-color: var(--color2);
}

span.selection {
  font-size: 70%;
}

button.selection-clear {
  margin-top: 5px;
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

div.cell-editor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}

button.cell-edit-confirm {
  padding: 5px;
  background-color: var(--color2);
  border: none;
}

select.cell-type {
  flex: 1 0;
  background-color: var(--color2);
  border: none;
}

/******************************/
/* Buildings ******************/
/******************************/

span.cell[data-cell-type="WtFm"] {
  background-color: bisque;
}

span.cell[data-cell-type="PgFm"] {
  background-color: pink;
}

span.cell[data-cell-type="Orch"] {
  background-color: palevioletred;
}
